@charset "UTF-8";

:root{
}

body{
    margin: 0px;
}

.fs-container{
    width: 100%;
    padding-right: var(--fs-gutter-x, 0.75rem);
    padding-left: var(--fs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}
.fs-grid{
    display: grid;
}
.c-gap{
    column-gap: 20px;
}
.r-gap{
    row-gap: 30px ;
}
.ac-center{
    align-content: center;
}
.ai-center{
    align-items: center;
}
.jc-start{
    justify-content:start;
}
.jc-center{
    justify-content: center;
}
.jc-end{
    justify-content: end;
}
.grid-col-1{
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-col-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-col-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-col-4{
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.grid-col-5{
    grid-template-columns: repeat(5, minmax(0, 1fr));
}
.grid-col-6{
    grid-template-columns: repeat(6, minmax(0, 1fr));
}
.grid-col-7{
    grid-template-columns: repeat(7, minmax(0, 1fr));
}
.grid-col-8{
    grid-template-columns: repeat(8, minmax(0, 1fr));
}
.grid-col-9{
    grid-template-columns: repeat(9, minmax(0, 1fr));
}
.grid-col-10{
    grid-template-columns: repeat(10, minmax(0, 1fr));
}
.grid-col-11{
    grid-template-columns: repeat(11, minmax(0, 1fr));
}
.grid-col-12{
    grid-template-columns: repeat(12, minmax(0, 1fr));
}
.fs-header{
    /*width: 100vw;*/
    /*height: 50px;*/
    /*padding: 20px 50px;*/
}

.fs-nav-toggle {
    display: none;
}
.fs-menu-list{
    position: relative;
}
.fs-menu-list > span:hover .fs-header-dropdown{
    transition: all .2s;
    opacity: 1;
}
.fs-hamburger{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
}

.fs-menu-toggle{
    display: none;
}

.fs-d-block{
    display: block;
}

.fs-outer{
    display: flex;
    /* justify-content: center; 
    align-items: center;*/
}
.fs-inner{
    display: table-cell;
    vertical-align: middle;
}

.fs-aspectHD-hor{
    aspect-ratio: 16/9;
}
.fs-aspectHD-vert{
    aspect-ratio: 9/16;
}
.fs-aspectVGA-hor{
    aspect-ratio: 4/3;
}
.fs-aspectVGA-vert{
    aspect-ratio: 3/4;
}
.fs-aspectHVGA-hor{
    aspect-ratio: 3/2;
}
.fs-aspectHVGA-vert{
    aspect-ratio: 2/3;
}
.fs-aspectWIDE-hor{
    aspect-ratio: 16/10;
}
.fs-aspectWIDE-vert{
    aspect-ratio: 10/16;
}
.fs-aspect1-1{
    aspect-ratio: 1/1;
}
.fs-talgin-c{
    text-align: center;
}
.order1{
    order: 1;
}
.order2{
    order: 2;
}
.order3{
    order: 3;
}
.order4{
    order: 4;
}
.order5{
    order: 5;
}
.order6{
    order: 6;
}
.order7{
    order: 7;
}
.order8{
    order: 8;
}
.order9{
    order: 9;
}
.order10{
    order: 10;
}
.order11{
    order: 11;
}
.order12{
    order: 12;
}
.zindex-top{
    z-index: 999;
}

.img-wapper{
    position: relative; 
}
.img-wapper.img-style{
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.img-blur{
    z-index: -1; 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}
.img-blur.img-style{
    filter: blur(3px); 
}
.img-txt{
    z-index: 1;
}
.img-txt.img-style{
    font-size: 1.5rem; 
    font-weight: bold; 
    text-shadow: 0 0 16px #000000, 0 0 16px #000000; 
}

@media (max-width: 575px) {
    .fs-container {
        max-width: 90%;
    }
}
@media (max-width: 767px) {
    .fs-hamburger-icon-w,
    .fs-hamburger-icon-w:before,
    .fs-hamburger-icon-w:after,
    .fs-hamburger-icon-b,
    .fs-hamburger-icon-b:before,
    .fs-hamburger-icon-b:after{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 2px; /*線の太さ*/
        width: 35px; /*線の長さ*/
        background-color: #444;
        border-radius: 2px;
        display: block;
        content: '';
        cursor: pointer;
        margin: auto;
        z-index: 999;
    }
    .fs-btn-burger {
        --fs-nav-position: fixed;
        cursor: pointer;
        display: block;
        width: 56px;
        height: 60px;
        position: var(--fs-nav-position);
        top: 5px;
        right: 10px;
        z-index: 999;
    }
    .fs-hamburger-icon-w:before,
    .fs-hamburger-icon-b:before{
        top: 20px;
    }

    .fs-hamburger-icon-w:after,
    .fs-hamburger-icon-b:after{
        top: -20px;
    }
    .fs-hamburger{
        cursor: pointer;
        display: block;
        width: 56px;
        height: 60px;
        /*position: absolute;*/
        top: 5px;
        right: 10px;
    }
    .fs-nav-menu{
        display: flex;
    }
    /*アイコンをクリックしたら*/
    .fs-nav-toggle:checked ~ .fs-btn-burger .fs-hamburger-icon-w {
        background: transparent;
    }
    .fs-nav-toggle:checked ~ .fs-btn-burger .fs-hamburger-icon-w:before {
        transform: rotate(-45deg);
        background-color: white;
        top: 0;
    }
    .fs-nav-toggle:checked ~ .fs-btn-burger .fs-hamburger-icon-w:after {
        transform: rotate(45deg);
        background-color: white;
        top: 0;
    }
    .fs-nav-toggle:checked ~ .fs-btn-burger .fs-hamburger-icon-b {
        background: transparent;
    }
    .fs-nav-toggle:checked ~ .fs-btn-burger .fs-hamburger-icon-b:before {
        transform: rotate(-45deg);
        background-color: black;
        top: 0;
    }
    .fs-nav-toggle:checked ~ .fs-btn-burger .fs-hamburger-icon-b:after {
        transform: rotate(45deg);
        background-color: black;
        top: 0;
    }

    /*上からスライドイン*/
    .fs-nav-topin ~ .fs-navi .fs-nav-menu{
        --fs-nav-position: inherit;
        display: block;
        position:fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        font-size: 16px;
        box-sizing: border-box;
        z-index: 2;
        padding-top: 50px;
        /*opacity: 0;*/
        top: -100%;
        transition: all .4s;
    }
    .fs-nav-topin:checked ~ .fs-navi .fs-nav-menu{
        top:0;
    }

    /*下からスライドイン*/
    .fs-nav-bottomin ~ .fs-navi .fs-nav-menu{
        --fs-nav-position: inherit;
        display: block;
        position:fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        font-size: 16px;
        box-sizing: border-box;
        z-index: 2;
        padding-top: 50px;
        /*opacity: 0;*/
        top: 100%;
        transition: all .4s;
    }
    .fs-nav-bottomin:checked ~ .fs-navi .fs-nav-menu{
        top:0;
    }

    /*左からスライドイン*/
    .fs-nav-leftin ~ .fs-navi .fs-nav-menu{
        --fs-nav-position: inherit;
        display: block;
        position:fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        font-size: 16px;
        box-sizing: border-box;
        z-index: 2;
        padding-top: 50px;
        /*opacity: 0;*/
        left: -150%;
        transition: all .4s;
    }
    .fs-nav-leftin:checked ~ .fs-navi .fs-nav-menu{
        left:0;
    }

    /*右からスライドイン*/
    .fs-nav-rightin ~ .fs-navi .fs-nav-menu{
        --fs-nav-position: inherit;
        display: block;
        position:fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        font-size: 16px;
        box-sizing: border-box;
        z-index: 2;
        padding-top: 50px;
        /*opacity: 0;*/
        left: 100%;
        transition: all .4s;
    }
    .fs-nav-rightin:checked ~ .fs-navi .fs-nav-menu{
        left:0;
    }

    /*フェードイン*/
    .fs-nav-fadein ~ .fs-navi .fs-nav-menu{
        --fs-nav-position: inherit;
        display: block;
        position:fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        font-size: 16px;
        box-sizing: border-box;
        z-index: 2;
        padding-top: 50px;
        opacity: 0;
        transition: all .4s;
    }
    .fs-nav-fadein:checked ~ .fs-navi .fs-nav-menu{
        opacity: 1;
    }
    .fs-header-dropdown > .fs-dropdown-top + .fs-dropdown-items {
        /*position: absolute;*/
        overflow: hidden;
        width: 100%;
        max-height: 0;

        /* Set our transitions up. */
        -webkit-transition: max-height 0.8s;
        -moz-transition: max-height 0.8s;
        transition: max-height 0.8s;
    }
    .fs-header-dropdown > .fs-menu-toggle:checked + .fs-dropdown-top + .fs-dropdown-items{
        max-height: 200px;
    }
    .fs-header-dropdown{
        position: relative;
    }
    .fs-header-dropdown > .fs-menu-toggle + .fs-dropdown-top + .fs-dropdown-items > * {
        background-color: rgba(0,0,0,0.8);
        display: block;
        transition: all .2s;
        height: 3rem;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
        align-items: center; /* 縦方向中央揃え */
        -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
        justify-content: center; /* 横方向中央揃え */
        cursor: pointer;
    }
    .fs-header-dropdown > .fs-menu-toggle:checked + .fs-dropdown-top + .fs-dropdown-items > *:hover {
        background-color: rgba(128,128,128,1);
        max-height: 200px;
        transition: all .0.5s;
    }
    label.fs-dropdown-top {
        width: 100%;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
        align-items: center; /* 縦方向中央揃え */
        -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
        justify-content: center; /* 横方向中央揃え */
        cursor: pointer;
    }
    
    .fs-hamburger-icon-w,
    .fs-hamburger-icon-w:before,
    .fs-hamburger-icon-w:after,
    .fs-hamburger-icon-b,
    .fs-hamburger-icon-b:before,
    .fs-hamburger-icon-b:after  {
        transition: all .2s;
    }
    .fs-nav-toggle:checked ~  .fs-navi .fs-nav-menu{
        cursor: default;
    }
    /*背景色*/
    .fs-nav-toggle.black10:checked ~  .fs-navi .fs-nav-menu{
        background-color: rgba(0, 0, 0, 0.1);
    }
    .fs-nav-toggle.black20:checked ~  .fs-navi .fs-nav-menu {
        background-color: rgba(0, 0, 0, 0.2);
    }
    .fs-nav-toggle.black30:checked ~  .fs-navi .fs-nav-menu{
        background-color: rgba(0, 0, 0, 0.3);
    }
    .fs-nav-toggle.black40:checked ~  .fs-navi .fs-nav-menu{
        background-color: rgba(0, 0, 0, 0.4);
    }
    .fs-nav-toggle.black50:checked ~  .fs-navi .fs-nav-menu{
        background-color: rgba(0, 0, 0, 0.5);
    }
    .fs-nav-toggle.black60:checked ~  .fs-navi .fs-nav-menu{
        background-color: rgba(0, 0, 0, 0.6);
    }
    .fs-nav-toggle.black70:checked ~  .fs-navi .fs-nav-menu{
        background-color: rgba(0, 0, 0, 0.7);
    }
    .fs-nav-toggle.black80:checked ~  .fs-navi .fs-nav-menu{
        background-color: rgba(0, 0, 0, 0.8);
    }
    .fs-nav-toggle.black90:checked ~  .fs-navi .fs-nav-menu{
        background-color: rgba(0, 0, 0, 0.9);
    }
    .fs-nav-toggle.black:checked ~  .fs-navi .fs-nav-menu{
        background-color: rgba(0, 0, 0, 1);
    }
    .fs-nav-toggle.white10:checked ~  .fs-navi .fs-nav-menu{
        background-color: rgba(255, 255, 255, 0.1);
    }
    .fs-nav-toggle.white20:checked ~  .fs-navi .fs-nav-menu {
        background-color: rgba(255, 255, 255, 0.2);
    }
    .fs-nav-toggle.white30:checked ~  .fs-navi .fs-nav-menu{
        background-color: rgba(255, 255, 255, 0.3);
    }
    .fs-nav-toggle.white40:checked ~  .fs-navi .fs-nav-menu{
        background-color: rgba(255, 255, 255, 0.4);
    }
    .fs-nav-toggle.white50:checked ~  .fs-navi .fs-nav-menu{
        background-color: rgba(255, 255, 255, 0.5);
    }
    .fs-nav-toggle.white60:checked ~  .fs-navi .fs-nav-menu{
        background-color: rgba(255, 255, 255, 0.6);
    }
    .fs-nav-toggle.white70:checked ~  .fs-navi .fs-nav-menu{
        background-color: rgba(255, 255, 255, 0.7);
    }
    .fs-nav-toggle.white80:checked ~  .fs-navi .fs-nav-menu{
        background-color: rgba(255, 255, 255, 0.8);
    }
    .fs-nav-toggle.white90:checked ~  .fs-navi .fs-nav-menu{
        background-color: rgba(255, 255, 255, 0.9);
    }
    .fs-nav-toggle.white:checked ~  .fs-navi .fs-nav-menu{
        background-color: rgba(255, 255, 255, 1);
    }
    .fs-dropdown-top{
        height: 3rem;
    }
    .fs-tlink-center{
        text-align: center;
        justify-content: center;
        padding: 1.4rem 0;
    }
}
@media (min-width: 576px) {
    .fs-col{
        flex: 1 0 0%;
    }
    .s-container, .fs-container {
        max-width: 540px;
    }
    .s-grid-col-1{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .s-grid-col-2{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .s-grid-col-3{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .s-grid-col-4{
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .s-grid-col-5{
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    .s-grid-col-6{
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
    .s-grid-col-7{
        grid-template-columns: repeat(7, minmax(0, 1fr));
    }
    .s-grid-col-8{
        grid-template-columns: repeat(8, minmax(0, 1fr));
    }
    .s-grid-col-9{
        grid-template-columns: repeat(9, minmax(0, 1fr));
    }
    .s-grid-col-10{
        grid-template-columns: repeat(10, minmax(0, 1fr));
    }
    .s-grid-col-11{
        grid-template-columns: repeat(11, minmax(0, 1fr));
    }
    .s-grid-col-12{
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }
    .s-order1{
        order: 1;
    }
    .s-order2{
        order: 2;
    }
    .s-order3{
        order: 3;
    }
    .s-order4{
        order: 4;
    }
    .s-order5{
        order: 5;
    }
    .s-order6{
        order: 6;
    }
    .s-order7{
        order: 7;
    }
    .s-order8{
        order: 8;
    }
    .s-order9{
        order: 9;
    }
    .s-order10{
        order: 10;
    }
    .s-order11{
        order: 11;
    }
    .s-order12{
        order: 12;
    }
    
}
@media (min-width: 768px) {
    .fs-col{
        flex: 1 0 0%;
    }
    .m-container, .s-container, .fs-container {
        max-width: 720px;
    }
    .m-grid-2_3{
        grid-template-columns: 1fr 2fr;
    }
    .m-grid-col-1{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .m-grid-col-2{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .m-grid-col-3{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .m-grid-col-4{
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .m-grid-col-5{
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    .m-grid-col-6{
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
    .m-grid-col-7{
        grid-template-columns: repeat(7, minmax(0, 1fr));
    }
    .m-grid-col-8{
        grid-template-columns: repeat(8, minmax(0, 1fr));
    }
    .m-grid-col-9{
        grid-template-columns: repeat(9, minmax(0, 1fr));
    }
    .m-grid-col-10{
        grid-template-columns: repeat(10, minmax(0, 1fr));
    }
    .m-grid-col-11{
        grid-template-columns: repeat(11, minmax(0, 1fr));
    }
    .m-grid-col-12{
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }
    .fs-header-dropdown{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
    }
    .fs-header-dropdown > .fs-dropdown-top + .fs-dropdown-items {
        position: absolute;
        
        width: 100%;
        visibility: hidden;
        opacity: 0;
        transition: all .2s;
    }
    .fs-header-dropdown > .fs-dropdown-top:hover + .fs-dropdown-items{
        opacity: 1;
        visibility: visible;
        transition: all .2s;
    }
    .fs-header-dropdown > .fs-dropdown-items{
        padding-top: 16rem;
    }
    .fs-header-dropdown:hover > .fs-dropdown-items {
        opacity: 1;
        visibility: visible;
        transition: all .2s;
    }
    
    .fs-header-dropdown > .fs-dropdown-items > * {
        background-color: rgba(0,0,0,0.8);
        transition: all .2s;
    }
    .fs-header-dropdown > .fs-dropdown-items >  *:hover {
        background-color: rgba(128,128,128,1);
        transition: all .2s;
    }
    .fs-navi{
        position: relative;
    }
    label.fs-dropdown-top {
        display: block;
        width: 100%;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
        align-items: center; /* 縦方向中央揃え */
        -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
        justify-content: center; /* 横方向中央揃え */
        cursor: pointer;
    }

    .fs-nav-menu{
        height: inherit;
    }

    .fs-dropdown-items > *{
        height: 3rem;
    }

    .fs-center{
        position: relative;
        /*display: flex;*/
        justify-content: center;
        align-items: center;
        height: inherit;
    }

    .fs-txt-center{
        text-align: center;
    }

    .fs-table{
        display: table;
    }

    .fs-va-md{
        vertical-align: middle;
    }
    .fs-d-tc{
        display: table-cell;
    }

    .fs-dropdown-item {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
        align-items: center; /* 縦方向中央揃え */
        -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
        justify-content: center; /* 横方向中央揃え */
        cursor: pointer;
    }
    .fs-tlink-center{
        text-align: center;
        justify-content: center;
    }
    .m-order1{
        order: 1;
    }
    .m-order2{
        order: 2;
    }
    .m-order3{
        order: 3;
    }
    .m-order4{
        order: 4;
    }
    .m-order5{
        order: 5;
    }
    .m-order6{
        order: 6;
    }
    .m-order7{
        order: 7;
    }
    .m-order8{
        order: 8;
    }
    .m-order9{
        order: 9;
    }
    .m-order10{
        order: 10;
    }
    .m-order11{
        order: 11;
    }
    .m-order12{
        order: 12;
    }
}
@media (min-width: 992px) {
    .fs-col{
        flex: 1 0 0%;
    }
    .l-container, .m-container, .s-container, .fs-container {
        max-width: 960px;
    }
    .l-grid-col-1{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .l-grid-col-2{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .l-grid-col-3{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .l-grid-col-4{
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .l-grid-col-5{
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    .l-grid-col-6{
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
    .l-grid-col-7{
        grid-template-columns: repeat(7, minmax(0, 1fr));
    }
    .l-grid-col-8{
        grid-template-columns: repeat(8, minmax(0, 1fr));
    }
    .l-grid-col-9{
        grid-template-columns: repeat(9, minmax(0, 1fr));
    }
    .l-grid-col-10{
        grid-template-columns: repeat(10, minmax(0, 1fr));
    }
    .l-grid-col-11{
        grid-template-columns: repeat(11, minmax(0, 1fr));
    }
    .l-grid-col-12{
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }
    /*.fs-navi{
        position: fixed;
    }*/
    .l-order1{
        order: 1;
    }
    .l-order2{
        order: 2;
    }
    .l-order3{
        order: 3;
    }
    .l-order4{
        order: 4;
    }
    .l-order5{
        order: 5;
    }
    .l-order6{
        order: 6;
    }
    .l-order7{
        order: 7;
    }
    .l-order8{
        order: 8;
    }
    .l-order9{
        order: 9;
    }
    .l-order10{
        order: 10;
    }
    .l-order11{
        order: 11;
    }
    .l-order12{
        order: 12;
    }
}
@media (min-width: 1200px) {
    .fs-col{
        flex: 1 0 0%;
    }
    .xl-container, .l-container, .m-container, .s-container, .fs-container {
        max-width: 1140px;
    }
    .xl-order1{
        order: 1;
    }
    .xl-order2{
        order: 2;
    }
    .xl-order3{
        order: 3;
    }
    .xl-order4{
        order: 4;
    }
    .xl-order5{
        order: 5;
    }
    .xl-order6{
        order: 6;
    }
    .xl-order7{
        order: 7;
    }
    .xl-order8{
        order: 8;
    }
    .xl-order9{
        order: 9;
    }
    .xl-order10{
        order: 10;
    }
    .xl-order11{
        order: 11;
    }
    .xl-order12{
        order: 12;
    }
}
@media (min-width: 1400px) {
    .fs-col{
        flex: 1 0 0%;
    }
    .xxl-container, .xl-container, .l-container, .m-container, .s-container, .fs-container {
        max-width: 1320px;
    }
    .xxl-order1{
        order: 1;
    }
    .xxl-order2{
        order: 2;
    }
    .xxl-order3{
        order: 3;
    }
    .xxl-order4{
        order: 4;
    }
    .xxl-order5{
        order: 5;
    }
    .xxl-order6{
        order: 6;
    }
    .xxl-order7{
        order: 7;
    }
    .xxl-order8{
        order: 8;
    }
    .xxl-order9{
        order: 9;
    }
    .xxl-order10{
        order: 10;
    }
    .xxl-order11{
        order: 11;
    }
    .xxl-order12{
        order: 12;
    }
}

