
@font-face {
  font-family: 'Stick-Regular';
  src: url('/fonts/Stick-Regular.ttf'); 
  font-display: swap;
 }

*{
  font-family: 'Stick-Regular';
}

.main{
  height: 5000px;
}
body
{
	margin:0;
  padding:0;
  background : black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  height: 6000px;
}
.container {
  /*border: 1px solid black;*/
  margin:80px auto;
  /*background:#ccc;*/
  width:500px;
  height: 100%;
  transform: translate(-50%,-70%);
}
#boxarea{
    left: 50%;
    position: fixed;
    top: 50%;
}
#cubeParent{
  height:500px;
  width:500px;
  position:relative;
}
.cubeFace{
height:500px;
width:500px;
position:absolute;
border: 10px solid white;
font-size: 2rem;
background-color:rgba(0,0,0,0.9);
}
.upper{
text-transform:uppercase;
}
#face1{
  font-size:5rem;
  font-weight:bold;
}
#face2{
  font-size:3.5rem;
  font-weight:bold;
}
#face3{
  font-size:3.5rem;
  font-weight:bold;
}
#face4{
  font-size:3.5rem;
  font-weight:bold;
}
#face5{
  font-size:3.5rem;
  font-weight:bold;
}
#face6{
  font-size:3.5rem;
  font-weight:bold;
  white-space: pre-wrap;
}
#face1,#face2,#face3,#face4,#face5,#face6{
  text-align: center;
  width: 100%;
  cursor: pointer;
}
.upper{
  width: 100%;
}

.carItem{
  position:absolute;
  width:85px;
  height:113px;
}
#rotPlane{
width:200px;
height:200px;
background:#00f;
position:relative;
color:#FFF;
}
button
{
padding:5px 10px;
margin:10px;
border-radius:5px;
background : -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(200, 200, 200) 100%);
background : -moz-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(200, 200, 200) 100%);
background : -o-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(200, 200, 200) 100%);
background : -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(200, 200, 200) 100%); 
background : -linear-gradient(top, rgb(255, 255, 255) 0%, rgb(200, 200, 200) 100%);
border:1px solid #646464;
}

button:hover
{
background : -webkit-linear-gradient(top, rgb(200, 200, 200) 0%, rgb(255, 255, 255) 100%);
background : -moz-linear-gradient(top, rgb(200, 200, 200) 0%, rgb(255, 255, 255) 100%);
background : -o-linear-gradient(top, rgb(200, 200, 200) 0%, rgb(255, 255, 255) 100%);
background : -ms-linear-gradient(top, rgb(200, 200, 200) 0%, rgb(255, 255, 255) 100%); 
background : -linear-gradient(top, rgb(200, 200, 200) 0%, rgb(255, 255, 255) 100%);
}

button:active
{
position:relative;
top:1px;
}

#trigger1{
  height:500px;
}
#trigger2{
  height:500px;
}
#trigger3{
  height:500px;
}
#trigger4{
  height:500px;
}
#trigger5{
  height:500px;
}
#trigger6{
  height:500px;
}