.main{
    height: 3500px;
  }
  body
  {
    margin:0;
    padding:0;
    background : black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
   
  }
#mainBody{
  /*height: 5000px;*/
}
  .container {
    width:100%;
        height: 100%;
        transform: translate(-50%, -60%);
      -webkit-transform: translate(-50%, -60%);
      -ms-transform: translate(-50%, -60%);
  }
  #boxarea{
      left: 50%;
      position: fixed;
      top: 50%;
  }
  #cubeParent{
    height:200px;
    width:200px;
    position:relative;
  }
  .cubeFace{
    height:200px;
    width:200px;
    position:absolute;
    border: 10px solid white;
    font-size: 2rem;
    background-color:rgba(0,0,0,0.9);
  }
  .upper{
    text-transform:uppercase;
  }
  #face1{
    font-size:2.5rem;
    font-weight:bold;
  }
  #face2{
    font-size:2.5rem;
    font-weight:bold;
  }
  #face3{
    font-size:2.5rem;
    font-weight:bold;
  }
  #face4{
    font-size:2.5rem;
    font-weight:bold;
  }
  #face5{
    font-size:2.5rem;
    font-weight:bold;
  }
  #face6{
    font-size:2.5rem;
    font-weight:bold;
    white-space: pre-wrap;
  }
  #face1,#face2,#face3,#face4,#face5,#face6{
    text-align: center;
    width: 100%;
    cursor: pointer;
    outline: 0px solid;
    outline-color: white;
    outline-offset: 0px;
    transition: .3s;
  }
  .upper{
    width: 100%;
  }
  
  .carItem{
    position:absolute;
    width:85px;
    height:113px;
  }
  #rotPlane{
  width:200px;
  height:200px;
  background:#00f;
  position:relative;
  color:#FFF;
  }
  
  button:active
  {
  position:relative;
  top:1px;
  }
  
  #trigger1{
    height:500px;
  }
  #trigger2{
    height:500px;
  }
  #trigger3{
    height:500px;
  }
  #trigger4{
    height:500px;
  }
  #trigger5{
    height:500px;
  }
  #trigger6{
    height:500px;
  }
  
  .mainArrow{
    opacity: 0;
    position:fixed;
    left:45%;
    top:80%;
    text-align:center;
    -webkit-transform: rotate(90deg);
     transform: rotate(90deg);
    transition: all 1s 0s ease;
  }
  
  .mainArrow.arrowBack::after{
    visibility: hidden;
  }
  .mainArrow.arrowBack{
    -webkit-transform: rotate(-90deg);
     transform: rotate(-90deg);
    transition: all 1s 0s ease;
  }
  .arrowArea{
    
    width: 60px;
    position:relative;
    text-align:center;
    font-size:1.2rem;
    font-weight:bold;
  }
  
  .arrowArea::before{
     content:"";
     display:block;
     width:60px;
     height:5px;
     background-color:white;
     position:absolute;
     bottom:-5px;
    left:0;
    border-radius: 10px;
    animation: arrow1 1.5s ease infinite;
  }
  .arrowArea::after{
     content:"";
     display:block;
     width:35px;
     height:5px;
     background-color:white;
     position:absolute;
     bottom:-15px;
     left:35px;
     -webkit-transform: rotate(-45deg);
     transform: rotate(-45deg);
    border-radius: 10px;
    transition: all 0.5s 0s ease;
    animation: arrow2 1.5s ease infinite;
  }
  
  .arrowBack::after{
    content:"";
     display:block;
     width:40px;
     height:8px;
     background-color:white;
     position:absolute;
     bottom:0px;
     left:-5px;
     -webkit-transform: rotate(45deg);
     transform: rotate(45deg);
     border-radius: 10px;
    transition: all 0.5s 0s ease;
    
  }
  
  @keyframes arrow1{
    0%{
      width:0;
    }
    40%{
      width:60px;
    }
    60%{
      left:0;
      width:60px;
    }
    100%{
      left:60px;
      width:0;
    }
  }
  
  @keyframes arrow2{
    0%{
      bottom:-20px;
      left:20px;
      width:0;
    }
    40%{
      bottom:-13px;
      left:38px;
      width:25px;
    }
    60%{
      bottom:-13px;
      left:38px;
      width:25px;
    }
    100%{
      bottom:-3px;
      left:60px;
      width:0;
    }
  }
@media screen and (min-width: 481px) {
	/* 481px以上に適用されるCSS（タブレット用） */
    .container {
        margin:80px auto;
        width:100%;
        height: 100%;
        transform: translate(-50%, -70%);
      -webkit-transform: translate(-50%, -70%);
      -ms-transform: translate(-50%, -70%);
      }
      #boxarea{
          left: 50%;
          position: fixed;
          top: 50%;
      }
      #cubeParent{
        height:300px;
        width:300px;
        position:relative;
      }
      .cubeFace{
        height:300px;
        width:300px;
        position:absolute;
        border: 10px solid white;
        font-size: 2rem;
        background-color:rgba(0,0,0,0.9);
      }
      .upper{
        text-transform:uppercase;
      }
      #face1{
        font-size:5rem;
        font-weight:bold;
      }
      #face2{
        font-size:3.5rem;
        font-weight:bold;
      }
      #face3{
        font-size:3.5rem;
        font-weight:bold;
      }
      #face4{
        font-size:3.5rem;
        font-weight:bold;
      }
      #face5{
        font-size:3.5rem;
        font-weight:bold;
      }
      #face6{
        font-size:3.5rem;
        font-weight:bold;
        white-space: pre-wrap;
      }
      #face1,#face2,#face3,#face4,#face5,#face6{
        text-align: center;
        width: 100%;
        cursor: pointer;
        outline: 0px solid;
        outline-color: white;
        outline-offset: 0px;
        transition: .3s;
      }
      .upper{
        width: 100%;
      }
      
      .carItem{
        position:absolute;
        width:85px;
        height:113px;
      }
      #rotPlane{
      width:200px;
      height:200px;
      background:#00f;
      position:relative;
      color:#FFF;
      }
      
      button:active
      {
      position:relative;
      top:1px;
      }
      
      #trigger1{
        height:500px;
      }
      #trigger2{
        height:500px;
      }
      #trigger3{
        height:500px;
      }
      #trigger4{
        height:500px;
      }
      #trigger5{
        height:500px;
      }
      #trigger6{
        height:500px;
      }
      
      #face1:hover,
      #face2:hover,
      #face3:hover,
      #face4:hover,
      #face5:hover,
      #face6:hover{
        animation: light 1s infinite;
      }
      @keyframes light {
        100% { 
          outline: 15px solid;
          outline-color: transparent;
          outline-offset: 30px;
        }
      }
      .mainArrow{
        opacity: 0;
        position:fixed;
        left:10%;
        top:75%;
        text-align:center;
        -webkit-transform: rotate(90deg);
         transform: rotate(90deg);
        transition: all 1s 0s ease;
      }
      
      .mainArrow.arrowBack::after{
        visibility: hidden;
      }
      .mainArrow.arrowBack{
        -webkit-transform: rotate(-90deg);
         transform: rotate(-90deg);
        transition: all 1s 0s ease;
      }
      .arrowArea{
        
        width: 60px;
        position:relative;
        text-align:center;
        font-size:1.2rem;
        font-weight:bold;
      }
      
      .arrowArea::before{
         content:"";
         display:block;
         width:60px;
         height:5px;
         background-color:white;
         position:absolute;
         bottom:-5px;
        left:0;
        border-radius: 10px;
        animation: arrow1 1.5s ease infinite;
      }
      .arrowArea::after{
         content:"";
         display:block;
         width:35px;
         height:5px;
         background-color:white;
         position:absolute;
         bottom:-15px;
         left:35px;
         -webkit-transform: rotate(-45deg);
         transform: rotate(-45deg);
        border-radius: 10px;
        transition: all 0.5s 0s ease;
        animation: arrow2 1.5s ease infinite;
      }
      
      .arrowBack::after{
        content:"";
         display:block;
         width:40px;
         height:8px;
         background-color:white;
         position:absolute;
         bottom:0px;
         left:-5px;
         -webkit-transform: rotate(45deg);
         transform: rotate(45deg);
         border-radius: 10px;
        transition: all 0.5s 0s ease;
        
      }
      
      @keyframes arrow1{
        0%{
          width:0;
        }
        40%{
          width:60px;
        }
        60%{
          left:0;
          width:60px;
        }
        100%{
          left:60px;
          width:0;
        }
      }
      
      @keyframes arrow2{
        0%{
          bottom:-20px;
          left:20px;
          width:0;
        }
        40%{
          bottom:-13px;
          left:38px;
          width:25px;
        }
        60%{
          bottom:-13px;
          left:38px;
          width:25px;
        }
        100%{
          bottom:-3px;
          left:60px;
          width:0;
        }
      }
}
@media screen and (min-width: 960px) {
	/* 960px以上に適用されるCSS（PC用） */
    .container {
        width:100%;
        height: 100%;
        transform: translate(-50%, -70%);
      -webkit-transform: translate(-50%, -70%);
      -ms-transform: translate(-50%, -70%);
      }
      #boxarea{
          left: 50%;
          position: fixed;
          top: 50%;
      }
      #cubeParent{
        height:400px;
        width:400px;
        position:relative;
      }
      .cubeFace{
        height:400px;
        width:400px;
        position:absolute;
        border: 10px solid white;
        font-size: 2rem;
        background-color:rgba(0,0,0,0.9);
      }
      .upper{
        text-transform:uppercase;
      }
      #face1{
        font-size:5rem;
        font-weight:bold;
      }
      #face2{
        font-size:3.5rem;
        font-weight:bold;
      }
      #face3{
        font-size:3.5rem;
        font-weight:bold;
      }
      #face4{
        font-size:3.5rem;
        font-weight:bold;
      }
      #face5{
        font-size:3.5rem;
        font-weight:bold;
      }
      #face6{
        font-size:3.5rem;
        font-weight:bold;
        white-space: pre-wrap;
      }
      #face1,#face2,#face3,#face4,#face5,#face6{
        text-align: center;
        width: 100%;
        cursor: pointer;
        outline: 0px solid;
        outline-color: white;
        outline-offset: 0px;
        transition: .3s;
      }
      .upper{
        width: 100%;
      }
      
      .carItem{
        position:absolute;
        width:85px;
        height:113px;
      }
      #rotPlane{
      width:200px;
      height:200px;
      background:#00f;
      position:relative;
      color:#FFF;
      }
      
      button:active
      {
      position:relative;
      top:1px;
      }
      
      #trigger1{
        height:500px;
      }
      #trigger2{
        height:500px;
      }
      #trigger3{
        height:500px;
      }
      #trigger4{
        height:500px;
      }
      #trigger5{
        height:500px;
      }
      #trigger6{
        height:500px;
      }
      
      #face1:hover,
      #face2:hover,
      #face3:hover,
      #face4:hover,
      #face5:hover,
      #face6:hover{
        animation: light 1s infinite;
      }
      @keyframes light {
        100% { 
          outline: 20px solid;
          outline-color: transparent;
          outline-offset: 30px;
        }
      }
      .mainArrow{
        opacity: 0;
        position:fixed;
        left:17%;
        top:75%;
        text-align:center;
        -webkit-transform: rotate(90deg);
         transform: rotate(90deg);
        transition: all 1s 0s ease;
      }
      
      .mainArrow.arrowBack::after{
        visibility: hidden;
      }
      .mainArrow.arrowBack{
        -webkit-transform: rotate(-90deg);
         transform: rotate(-90deg);
        transition: all 1s 0s ease;
      }
      .arrowArea{
        
        width: 80px;
        position:relative;
        text-align:center;
        font-size:1.5rem;
        font-weight:bold;
      }
      
      .arrowArea::before{
         content:"";
         display:block;
         width:80px;
         height:8px;
         background-color:white;
         position:absolute;
         bottom:-5px;
        left:0;
        border-radius: 10px;
        animation: arrow1 1.5s ease infinite;
      }
      .arrowArea::after{
         content:"";
         display:block;
         width:35px;
         height:8px;
         background-color:white;
         position:absolute;
         bottom:-18px;
         left:45px;
         -webkit-transform: rotate(-45deg);
         transform: rotate(-45deg);
        border-radius: 10px;
        transition: all 0.5s 0s ease;
        animation: arrow2 1.5s ease infinite;
      }
      
      .arrowBack::after{
        content:"";
         display:block;
         width:40px;
         height:8px;
         background-color:white;
         position:absolute;
         bottom:0px;
         left:-5px;
         -webkit-transform: rotate(45deg);
         transform: rotate(45deg);
         border-radius: 10px;
        transition: all 0.5s 0s ease;
        
      }
      
      @keyframes arrow1{
        0%{
          width:0;
        }
        40%{
          width:80px;
        }
        60%{
          left:0;
          width:80px;
        }
        100%{
          left:79px;
          width:0;
        }
      }
      
      @keyframes arrow2{
        0%{
          bottom:-30px;
          left:20px;
          width:0;
        }
        40%{
          bottom:-17px;
          left:48px;
          width:37px;
        }
        60%{
          bottom:-17px;
          left:48px;
          width:37px;
        }
        100%{
          bottom:-3px;
          left:80px;
          width:0;
        }
      }
}
 