#menu-icon{
  width: 100%;
  position: fixed;
  transform: translate(90%, -60%);
  z-index: 999;
}
#menu-open{
  text-align: center;
  font-size:1.5rem;
  border: 3px solid white;
  background-color: #1f1f1f;
  width: 80px;
  cursor: pointer;
  position: absolute;
  animation: menu-light 1.5s infinite;
  transition: .3s all;
}
#menu-open:hover{
  background-color: white;
  color: #1f1f1f;
}
#menu-area{
  position:absolute;
  background-color:#1f1f1f;
  height:100%;
  width:100%;
  top:-100%;
  z-index: 100;
}
@keyframes menu-light {
  100% { 
    outline: 5px solid;
    outline-color: transparent;
    outline-offset: 15px;
  }
}
